.small-for-testing {
    max-width: 50vw;
    max-height: 80vh;
}

/* body {
    letter-spacing: 0.1rem;
} */

.backdrop { 
    height: 100vh;
    width: 100vw;
    box-shadow: inset 0 0 7rem 0px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
}

.backdrop-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: relative;
    z-index: 1;   
}

.no-img-backdrop {
    height: 88vh;
    width: 50vw;
    position: absolute;
    z-index: 2;
    top: 6vh;
    left: 25vw;
    box-shadow: inset 0 0 7rem 0px rgba(0, 0, 0, 0.5);
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 10px;
}

.img-backdrop {
    height: 88vh;
    width: 94vw;
    position: absolute;
    top: 6vh;
    left: 3vw;
    z-index: 2;
    box-shadow: inset 0 0 7rem 0px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 10px;
}

.grid1 {
    width: 40vw;
    height: 88vh;
    padding: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.grid2 {
    width: 54vw;
    height: 88vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.innards {
    height: 88vh;
    width: 94vw;
    position: absolute;
    top: 6vh;
    left: 3vw;
    object-fit: cover;
    border-radius: 5px;
    z-index: 2;
    box-shadow: inset 0 0 7rem 0px rgba(0, 0, 0, 0.5);
    padding: 5%;
}

.base-layer {
    height: 100vh;
    width: 100vw;
    box-shadow: inset 0 0 7rem 0px rgba(0, 0, 0, 0.5);
    padding-left: 0;
    padding-right: 0;
}

.directions-base {
    width: 100vw;
    height: 100vh;
    box-shadow: inset 0 0 7rem 0px rgba(0, 0, 0, 0.5);
    background-color: seashell;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    overflow: scroll;
}

.grid-left {
    width: 60vw;
    padding: 5%;
}

.left-col {
    width: 47vw;
    height: 88vh;
    position: absolute;
    top: 6vh;
    left: 3vw;
    z-index: 3;
    overflow: scroll;
    padding: 3%;
}

.right-col-lower {
    width: 47vw;
    height: 10vh;
    position: absolute;
    bottom: 6vh;
    right: 3vw;
    z-index: 3;
    text-align: right;
}

.right-col-upper {
    width: 47vw;
    height: 68vh;
    position: absolute;
    top: 16vh;
    right: 3vw;
    z-index: 3; 
      
}

.examples {
    width: 47vw;
    height: 10vh;
    position: absolute;
    top: -5vh;
    left: 0;
    z-index: 13;
}

/* .right-col {
    width: 100%;
    overflow: scroll;
} */

.grid-right {
    
    /* border: 1px solid greenyellow; */
    
    width: 38vw;
}

.time-choice {
    width: 11vw;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    height: 50vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.sticky > * {
    margin: 1%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.sticky > button, a {
    width: 8vw;
}

#start-timer, .sticky-btn {
    background-color: #FF757D;
    border-radius: 5px;
    border-style: solid;
    border-color: #322F7C;
    border-width: 1px;
    height: 4vh;
    color: #322F7C;
}

#purp {
    color:#322F7C;
}

.last-page {
    /* background-color: #322F7C;
    color: #FF757D; */
    background-color: seashell;
    color: black;
}


.inner-square {
    position: relative;
    margin-left: 16%;
    margin-right: 16%;
    height: 96vh;
    background-color: seashell;
    display: grid;
    grid-template-columns: auto auto;
    top: 2vh;
    border-radius: 10px;
}

.grid-item {
    /* border: 1px solid greenyellow; */
    padding: 20px;
    width: 34vw;
    height: 48vh;
    /* z-index: 10; */
    align-items: center;
    justify-content: center;
    display: flex;
}

.grid-box-no-img {
    box-shadow: inset 0 0 5rem 0px rgba(0, 0, 0, 0.5);
    width: 30vw;
    height: 40vh;
    z-index: 2;
    background-color: rgb(119, 108, 100); 
    position: relative; 
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid-box-no-img > * {
    text-align: center;
    padding: 5px;
}

.grid-box-no-img > h4 {
    margin-bottom: 30px;
}

.grid-box-with-img > .inner-text {
    padding: 3%;
    position: absolute;
    top: 0;
    left: 3%;
}

.grid-box-with-img > .inner-center {
    text-align: center;
}

.inner-text > * {
    color: black;
}

.grid-box-with-img {
    width: 30vw;
    height: 40vh;
    z-index: 3;
    color: white;
    
    position: relative; 
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#no-nuggets, #no-words, #nuggets, #words {
    color: black;
    box-shadow: inset 0 0 7rem 0px seashell;
    border-radius: 2px;
    margin: 5px;
}

.get-nuggets, .get-words {
    color: #322F7C;
    background-color: #FF757D;
    border-color: #322F7C;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

#get-nuggets, #get-words {
    color: #322F7C;
}

.home-btn {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
}

.home-btn:hover {
    background: seashell;
    border-width: 1px;
    border-color: #322F7C;
    color: #322F7C;
}

.grid-img {
    object-fit: cover;
    width: 30vw;
    height: 40vh;
    z-index: 2;
    position: absolute;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

.grid-img-overlay {
    object-fit: cover;
    width: 30vw;
    height: 40vh;
    z-index: 2;
    position: absolute;
    top: 16%;
}

.purple {
    background-color: #322F7C;
}

/* #fire {
    box-shadow: inset 0 0 7rem 0 seashell, 0 0 3rem 0 yellow;
    box-shadow: inset 0 0 7rem 0 seashell, 0 0 3rem 0 yellow, 0 0 7rem 0 orange;
    box-shadow: inset 0 0 7rem 0 seashell, 0 0 3rem 0 yellow, 0 0 7rem 0 orange, 0 0 7rem 0 orangered;
    box-shadow: inset 0 0 5rem 0 seashell, 0 0 5rem 0 yellow, 0 0 5rem 0 orange, 0 0 5rem 0 orangered, 0 0 5rem 0 red;
} */

.black {
    background-color: black;
}

/* .bye-img {
    width: 850px;
    height: auto;
    position: absolute;
    left: 30%;
    bottom: 15%;
} */

.bye-img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.almond {
    background-color: rgba(255, 185, 185, 0.979);
}

.bye {
    position: absolute;
    left: 5%;
    top: 0;
    z-index: 10;
    font-size: 200px;
    color: #322F7C;
    font-weight: lighter;
}

.bye-hello {
    position: absolute;
    right: 5%;
    bottom: 10%;
    z-index: 10;
    height: 40px;
    width: 120px;
    color: #322F7C;
    border-color: #322F7C;
    border-radius: 5px;
    border-width: 1px;
}

.btn:hover {
    border-width: 3px;
}

#start-timer:hover {
    border-width: 3px;
}

.login-btn {
    background-color: seashell;
    border-style: solid;
    border-radius: 5px;
    border-color: #322F7C;
    color: #322F7C;
    border-width: 1px;
    width: 100px;
    height: 40px;
}

.inner-container > h3 {
    font-size: 35px;
}


 


.full-img {
    height: 100vh;
    width: 100vw;
    position: absolute;
    object-fit: cover;
    z-index: 2;
    padding: 0!important;
}

.back-img {
    height: 88vh;
    width: 94vw;
    position: absolute;
    top: 6vh;
    left: 3vw;
    object-fit: cover;
    border-radius: 10px;
    z-index: 2;
    opacity: 0.6;
}

.back-img-2 {
    height: 88vh;
    width: calc((1/3)*100vw);
    position: absolute;
    top: 6vh;
    left: calc((1/3)*100vw);
    object-fit: cover;
    border-radius: 10px;
    z-index: 2;
}

.reg-img {
    height: calc(100vh - 24%);
    width: calc((1/3)*(100vw));
    position: absolute;
    top: calc(100vh - 88%);
    left: calc((1/3)*(100vw));
    z-index: 3;
    border-radius: 10px;
    /* object-fit: cover; */
}

.inner-container {
    height: calc(100vh - 24%);
    width: calc((1/3)*(100vw));
    position: absolute;
    top: calc(100vh - 88%);
    left: calc((1/3)*(100vw));
    z-index: 4; 
    border-radius: 10px; 
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
}

.inner-container-2 {
    height: calc(100vh - 24%);
    width: calc((.39)*(100vw));
    position: absolute;
    top: calc(100vh - 92%);
    left: calc((1/3)*(100vw));
    z-index: 4; 
    border-radius: 10px; 
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: black;
}

.prompt-inner > p {
    font-size: 18px;
}

p.loop {
    font-weight: bold;
    font-size: 21px;
}

p.loop2 {
    font-weight: bold;
    font-size: 21px;
}

p.and {
    font-size: 21px;
}

.prompt-inner > h1 {
    font-size: 47px;
}

.prompt-inner > h4 {
    font: 31px;
    font-style: italic;
}

.prompt-inner {
    z-index: 5;
    top: 0;
    position: absolute;
    display: flex;
    align-items: left;
    flex-direction: column;
}

.msg2 {
    padding-right: 20%;
}

.two-words {
    display: inline-flex;
}

textarea {
    width: calc((1/4)*(100vw));
    height: 15vh;
}

.close-btn {
    padding-bottom: 10px;
    padding-top: 5px;
}

#hidden-element {
    width: calc((.39)*(100vw));
}

#hidden-element > h3  {
    font-size: 28px;
}

#hidden-element > .btn {
    color: #322F7C;
}

#hidden-element .prompt-btns {
    color: #322F7C;
}

#hidden-element > #too-long {
    font-size: 45px;
    color: white;
    font-style: italic;
}

.hbar {
    width: calc((1/4)*(100vw));;
    height: 2px;
    background-color: black;
    margin-top: 2%;
    margin-bottom: 9%;
}

.prompt-btns {
    color: #322F7C;
    background-color: rgba(255, 185, 185, 0.979);
    border-radius: 5px;
    border-style: solid;
    border-color: #322F7C;
    border-width: 1px;
    width: 100px;
    height: 40px;
}

.btn-wd {
    background-color: rgb(172, 172, 172);
    width: 100px;
    border-radius: 5px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: black;
}
.top {
    width: calc((1/3)*(100vw)); 
    position: absolute;
    top: calc(100vh - 82%);
    left: calc((1/3)*(100vw));
    z-index: 4; 
    text-align: center;
    color: white;
}

.bottom {
    width: calc((1/3)*(100vw)); 
    position: absolute;
    left: 0;
    bottom: 5%;
    
}







.form {
    justify-content: right;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}

.click-reg {
    color: white;
    padding-top: 3%;
    letter-spacing: .05rem;
}

.click-reg > a {
    color: yellow;
}

.click-reg > a:hover {
    font-weight: bold;
}

.center-inner {
        height: 40vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.quarter-img {
    height: 40vh;
    width: 30vw;
    object-fit: cover;
    position: absolute;
    left: 4vw;
    top: 5vh;
    z-index: 2;
    border:rgba(255, 185, 185, 0.979);
    border-radius: 1px;
    border-style: solid;
}

.vertical-img {
    position: absolute;
    width: 30vw;
    height: 45vh;
    object-fit: cover;
    right: 0;
    bottom: 3vh;
    border: #eb1b94;
    border-radius: 2px;
    border-style: solid;
}

.flash-msg {
    color: seashell;
    padding-left: 3%;
    padding-right: 3%;
    margin: 0!important;
}

/* #fire div.form #email, #first_name, #last_name, #password2  { */
    /* background-color: rgb(247, 0, 255); */
    /* background-color: seashell;
    opacity: 0.8; */
    /* background-color: transparent; */
    /* color: rgb(211, 9, 77); */
    /* color: black;
    font-style: italic;
    border-radius: 5px;
} */

div.form #email, #password, #first_name, #last_name {
    background-color: #322F7C;
    color: seashell;
    border-radius: 5px;
    height: 39px;
    width: 186px;
}

div.form .login-btn {
    color: #322F7C;
}

::placeholder {
    color: seashell;
    /* font-style: italic; */
    /* letter-spacing: .1rem; */
}

.goodbye {
    height: 100vh;
    width: 100vw;
}











