{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block content %}
<div class='container-fluid base-layer purple border border-light'>
    
    <div class='inner-square border border-light'>

    <!-- Upper-Left Corner -->
    <div class='q1 quarter-ul border border-dark'>
        <div class='quarter-inner border border-dark'>
            <div class='inner-inner'>
                <h5>Show me my:</h5>
                
                <a class='btn border border-dark' id='get-nuggets' role='button'>Nuggets</a>
                <p id="no-nuggets"></p>
                <ul id="nuggets"></ul>

                <a class='btn border border-dark' id='get-words' role='button'>Words</a>
                <p id="no-words"></p>
                <ol id="words"></ol>
            </div>
        </div>
    </div>

    

    <!-- Lower-Left Corner -->
    <div class='q2 quarter-ll border border-dark'>
        <div class='quarter-inner border border-dark'>
            <div class='inner-inner'>
                <h4>Would you like to try adding a word to the database for everyone to use?</h4>
                <form action='/add-word' method='post'>
                    <input type='text' name='word' required> 
                    <input type='submit' value='Submit my Word!'>
                </form>
                {% for msg in get_flashed_messages() %}
                    <!-- Flash messaging -->
                    <p class="flash-msg">
                    {{ msg }}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Upper-Right Corner -->
    <div class='q3 quarter-ur border border-dark'>
        <div class='quarter-inner border border-dark'>
            <div class='inner-inner border border-dark'>
                <div class='center-inner border border-dark'>
                    <h3>{{ writer }}'s Homepage</h3>
                    <a class='btn border border-dark' role='button' href='/new-prompt'>Write Again!</a>
                    <a class='btn border border-dark' role='button' href='/logout'>Log Out</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Lower-Right Corner -->
    <div class='q4 quarter-lr border border-dark'>
        <div class='quarter-inner border border-dark'>
            <div class='inner-inner'>
                <h3>I want to do some longer writing</h3>
                <form action='/longer-prompt' method="get">
                    <label for='prompt-select'>Choose a writing prompt:</label>
                    <select name='prompt-select' onchange='if(this.value != 0) { this.form.submit(); }'>
                        <option value='0'>--Please choose an option--</option>
                        {% for i in range(prompts | length) %}
                        <option value='{{ i+1 }}'>{{ prompts[i]['name'] }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    </div>

    

    <!-- <img src='/static/Images/nothing-small.jpg' class='quarter-img' id='img-change'> 
    <img src='/static/Images/paint-md-comp.jpg' class='vertical-img'>   -->
    </div> <!--End of inner-square class-->
</div> <!-- End of continer-fluid backdrop purple class-->

    



    
    
     
{% endblock %}

{% block script %}
    <script src="/static/js/eventHandling.js"></script>
{% endblock %}
