{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block content %}
    <h3>{{ writer }}'s Homepage</h3>
    <h5>Show me my:</h5>
    
    <a class='btn border border-dark' id='get-nuggets' role='button'>Nuggets</a>
    <p id="no-nuggets"></p>
    <ul id="nuggets"></ul>

    <a class='btn border border-dark' id='get-words' role='button'>Words</a>
    <p id="no-words"></p>
    <ol id="words"></ol>

    <h2>Would you like to try adding a word to the database for everyone to use?</h2>
    <form action='/add-word' method='post'>
        <input type='text' name='word' required> 
        <input type='submit' value='Submit my Word!'>
    </form>

    <a class='btn border border-dark' role='button' href='/new-prompt'>Write Again!</a>
   
    <a class='btn border border-dark' role='button' href='/logout'>Log Out</a>
    
    <h3>I want to do some longer writing</h3>

    <form action='/longer-prompt' method='get'>
        <label for="prompt-select">Choose a writing prompt:</label>
        <div>
            <select name='prompts' id='prompt-select' onChange="window.document.location.href=this.options[this.selectedIndex].value;">
                <option value=''>--Please choose an option--</option>
                <option value='/longer-prompt' id='1' name='test'>Write about blobbidy blob</option>
                <option value='/longer-prompt' id='2' name='test2'>Or bloobidy bloob</option>
                <option value='/longer-prompt' id='3' name='test3'>Or blah blah!</option> 
            </select>
        </div>
        <!-- <a class='btn border border-dark' role='button' href='/longer-prompt2'>Take Me There!</a> -->
    </form>

    


    



    
    
     
{% endblock %}

{% block script %}
    <script src="/static/js/eventHandling.js"></script>
{% endblock %}
