{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block content %}
    <h6>{{ writer }}</h6>
    <h1>Show me my:</h1>
    <!-- <button onclick="Function()">Nuggets</button>
    <p id="nuggets"></p>
    <script>
    function Function() {
    document.getElementById("nuggets").innerHTML = "Hard-coded Nugget #1";
    }
    </script> -->
    <button onclick="Function()">Nuggets</button>
    <p id="nuggets"></p>
 
{% endblock %}

{% block script %}
    <script src="/static/js/eventHandling.js"></script>
{% endblock %}
