{% extends 'base.html' %}
{% block title %}Log In{% endblock %}

{% block content %}
  <div class='container-fluid backdrop purple'>
    <div class='inner-container'>
    <h3>LOG IN</h3>
    <form action='/start' method='post'>
          <div class='form'>
          <label for="email">Email: </label>
          <input type="email" name="email" id="email" required>
          </div>
          <div class='form'>
          <label for="password">Password: </label>
          <input type="password" name="password" id="password" required>
          </div>
          <div class='form'> 
          <input type="submit" value="Log In" id='login-btn'>
          </div>
        
    </form>
    <p>Click 
      <a href="/register">here</a>   
      to register.
    </p>

    {% for msg in get_flashed_messages() %}
        <!-- Flash messaging -->
        <p class="flash-msg">
          {{ msg }}
        </p>
    {% endfor %}

    </div> <!-- End div for inner-container class-->
    
    <img src='/static/Images/login-medium.jpg' class='back-img-2'>
    
    
  </div> <!-- End of container-fluid backdrop -->
{% endblock %}