{% extends 'base.html' %}
{% block title %}LONGER WRITING{% endblock %}

{% block content %}
    <h2>{{ name }}</h2>
        
    {% for direction in writing_directions %}
    <p>{{ direction }}</p>
    {% endfor %}
    
    
    
    <div>
        <label for='time'>How long would you like to set the timer for?</label>
        <select name='time'>
            <option value='4'>4 min</option>
            <option value='5'>5 min</option>
            <option value='6'>6 min</option>
            <option value='7'>7 min</option>
            <option value='8'>8 min</option>
            <option value='9'>9 min</option>
            <option value='10'>10 min</option>
            <option value='11'>11 min</option>
            <option value='12'>12 min</option>
        </select>
        <button id='start-timer'>Start Timer</button>
    </div>

    <p id='timer-started'></p>

    <audio id='sound-homepage'>   
        <source id='sound-src' src="/static/Correct Answer.mp3" />   
    </audio> 
    <p>testing if something shows up from route:</p>
    <h1>{{ id }}</h1>
    


    
    
    
 
{% endblock %}  

{% block script %}
    <script src="/static/js/eventHandling.js"></script>
{% endblock %}