{% extends 'base.html' %}
{% block title %}LONGER WRITING{% endblock %}

{% block content %}
    <h2>{{ name }}</h2>
        
    {% for i in range(writing_directions | length) %}
    {% if i == 0: %}
    <h4><b>{{ writing_directions[i] }}</b></h4>
    {% else: %}
    <p>{{ writing_directions[i] }}</p>
    {% endif %}
    {% endfor %}
    
    
    
    <div>
        <label for='time'>How long would you like to set the timer for?</label>
        <select name='time'>
            {% for i in range(3, 16) %}
            <option value='{{ i }}'>{{ i }} min</option>
            {% endfor %}
        </select>
        <button id='start-timer'>Start Timer</button>
    </div>

    <p id='timer-started'></p>

    <audio id='sound-homepage'>   
        <source id='sound-src' src="/static/Correct Answer.mp3" />   
    </audio> 

    <a class='btn border border-dark' role='button' href='/homepage'>Home Page</a>

{% endblock %}  

{% block script %}
    <script src="/static/js/eventHandling.js"></script>
{% endblock %}