{% extends 'base.html' %}
{% block title %}Registration{% endblock %}

{% block content %}
<div class='container-fluid backdrop rocketcolor'>
  <h3 class='top'>REGISTER</h3>
  <div class='inner-container' id='fire'>
    
    <form action='/register-user' method='post'>
          <div class='form'> 
          <label for="email">Email: </label>
          <input type="email" name="email" id="email" required>
          </div>
          <div class='form'>
          <label for="first_name">First Name: </label>
          <input type="text" name="first_name" id="first_name" required>
          </div>
          <div class='form'>
          <label for="last_name">Last Name: </label>
          <input type="text" name="last_name" id="last_name" placeholder="OPTIONAL">
          </div>
          <div class='form'>
          <label for="password">Password: </label>
          <input type="password" name="password" id="password2" required>
          </div>
          <div class='form bottom'>
            <input type="submit" value="Register!" id='reg-submit'>  
          </div>
    </form>

    {% for msg in get_flashed_messages() %}
    <!-- Flash messaging -->
    <p class="flash-msg">
      {{ msg }}
    </p>
    {% endfor %} 

  </div> <!-- End div for inner-container class-->
  
  <img src='/static/Images/rocket-small.jpg' class='reg-img'>  
  <!-- <img src='/static/Images/or-sky-lg-comp.jpg' class='full-img'> -->
  
</div> <!-- End of container-fluid backdrop-->   
{% endblock %}