{% extends 'base.html' %}
{% block title %}DIRECTIONS{% endblock %}

{% block content %}
    <h6>Writing Directions</h6>
    <h2>{{  prompt_name  }}</h2>
    <p>{{ welcome_message  }}</p>
    
    {% for direction in writing_directions %}
    <p>{{ direction }}</p>
    {% endfor %}
    
    <!-- Button that will take user from directions to html that will show random word(s) and have timer -->
    <a class='btn border border-dark' role='button' href = '/writing-prompt'>BUTTON!</a>
    
 
{% endblock %}  