{% extends 'base.html' %}
{% block title %}PROMPT{% endblock %}

{% block content %}
    <h6>Writing Prompt:</h6>
    <h2>{{  name  }}</h2>
    
    {% if word_qty == 2 %}
    <p>{{ prompt }}</p>
    <p>{{ word1 }} and {{ word2 }}</p>
    {% else %}
    <p>{{ prompt }}</p>
    <p>{{ word1 }}</p>
    {% endif %}
    
    <div id='hidden-element'>
        <h2 class='hidden-div'>Would you like to store any nuggets?</h2>
        <form action='/store-nugget' method='post'> 
            <textarea name='nugget'></textarea>
            <input type='submit' value='Submit'>
        </form>
        <a class='btn border border-dark' id="no-nugget-click" role='button' href = '/homepage'>Nope!</a>
    </div>
    <a class='btn border border-dark' id='unhide' role='button'>onClick</a>
    
{% endblock %} 

{% block script %}
    <script src="/static/js/eventHandling.js"></script>
{% endblock %}