{% extends 'base.html' %}
{% block title %}PROMPT{% endblock %}

{% block content %}
    <h1 id='demo'></h1>
    <h1>{{  name  }}</h1>
    
    <h4>{{ prompt.upper() }}</h4>
    {% if word_qty == 2 %}
    <row>
        <p class='loop'>{{ word1 }}</p>
        <p><b>and</b></p>
        <p class='loop'>{{ word2 }}</p>
    </row>
    
    {% else %}
    <p class='loop'>{{ word1 }}</p>
    {% endif %}
    <p>{{ message }}</p>
    
    <div id='hidden-element'>
        <h2 class='hidden-div'>Would you like to store any nuggets?</h2>
        
        <form action='/store-nugget' method='post'> 
            <textarea name='nugget'></textarea>
            <input type='submit' value='Submit'>
        </form>
        
        <a class='btn border border-dark' id="no-nugget-click" role='button' href = '/homepage'>Nope!</a>
    </div>

    <audio id='sound'>   
        <source id='sound-src' src="/static/Correct Answer.mp3" />   
    </audio> 
    <h3 id='too-long' style="color: red;"></h3>
   
{% endblock %} 

{% block script %}
    <script src="/static/js/eventHandling.js"></script>
{% endblock %}

