{% extends 'base.html' %}
{% block title %}DIRECTIONS{% endblock %}

{% block content %}
<div>
    <img src='/static/Images/prompts.jpg' class='backdrop-img'>
    
    {% if img_src %}
        <div class='img-backdrop almond'>
            <div class='grid1'>
                <p>{{ welcome_message  }}</p>
                <h2>{{  prompt_name  }}</h2>
                <h5>DIRECTIONS</h5>
                {% for direction in writing_directions %}
                <p>{{ direction }}</p>
                {% endfor %}
                <a class='btn btn-wd' id='start-autopla' role='button' href = '/writing-prompt'>Begin!</a>
            </div>
            <div class='grid2'>
                <h4><u>Examples:</u></h4> 
                <img class='small-for-testing' src="{{ img_src }}" alt='writing image'>
            </div>
            
            
        </div>
    
    {% else %}
        
        <div class='no-img-backdrop almond'>
            <p>{{ welcome_message  }}</p>
            <h1>{{  prompt_name  }}</h1>
            <h4>DIRECTIONS</h4>
            {% for direction in writing_directions %}
            <p>{{ direction }}</p>
            {% endfor %}
            <a class='btn btn-wd' id='start-autopla' role='button' href = '/writing-prompt'>Begin!</a>
        </div>
        
        <img class='small-for-testing' src="{{ img_src }}" alt='writing image' hidden>
    
    {% endif %}
    
    <!-- <div class='innards almond'>
    </div>  -->
        
            
        

    
    
    
        
     
    
    
    
    
        
        
    

    
    
    
    
    
    
</div> <!-- End of biggest div-->
{% endblock %} 




{% block script %}
    <script src="/static/js/eventHandling.js"></script>
{% endblock %}