{% extends 'base.html' %}
{% block title %}DIRECTIONS{% endblock %}

{% block content %}
    <p>{{ welcome_message  }}</p>
    <h1>{{  prompt_name  }}</h1>
    <h4>DIRECTIONS</h4>
    
    
    
    {% for direction in writing_directions %}
    <p>{{ direction }}</p>
    {% endfor %}
    
    {% if img_src %}
    <h4><u>Examples:</u></h4>
    <img class='small-for-testing' src="{{ img_src }}" alt='writing image'>
    {% else %}
    <img class='small-for-testing' src="{{ img_src }}" alt='writing image' hidden>
    {% endif %}
    <!-- Button that will take user from directions to html that will show random word(s) and have timer -->
    <a class='btn border border-dark' id='start-autopla' role='button' href = '/writing-prompt'>Begin!</a>
    
 
{% endblock %}  

{% block script %}
    <script src="/static/js/eventHandling.js"></script>
{% endblock %}